<h1>Search Github User</h1>

<div class="search-container">
  <div class="search">
    <mat-form-field class="example-full-width">
      <input
        #searchBox
        class="toolbar-search"
        type="text"
        matInput
        (input)="assign(searchBox.value)"
      />
      <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="searchUser()">
      Search
    </button>
  </div>
</div>

<div *ngIf="user.id" class="search-results">
  <h2>Search Result:</h2>
  <div class="user">
    <div>
      <h3><strong>User Image</strong></h3>
      <img mat-card-sm-image [src]="user?.avatar_url" width="200px" />
    </div>
    <div>
      <h3><strong>Github User Name</strong></h3>
      <h3 *ngIf="user.name">{{ user.name }}</h3>
      <h3 *ngIf="user.login && !user.name">{{ user.login }}</h3>
    </div>
  </div>
</div>
